## Final Project Submission

Please fill out:
* Student name:BATULI ABDULLAH 
* Student pace: full time
* Instructor name: Mwikali Maryann

## Importing the required libraries

In [1]:
# Your code here - remember to use markdown cells for comments as well!
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

### Importing our data

In [5]:
df = pd.read_csv('data/Aviation_data.csv', low_memory=False, index_col=0)
df.head()

,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,Injury.Severity,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
Event.Id,,,,,,,,,,,,,,,,,,,,,
20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,Fatal(2),...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,Fatal(4),...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,Fatal(3),...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,Fatal(2),...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,Fatal(1),...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980

### Data Understanding

First thing in the analysis is to get an overview of the information in the Dataset, in this case is the aviation dataset.
That is the:
* DataFrame of the data
* Variousfeatures of the data
* Check for missing values
* Data cleaning

In [7]:
#Summary of DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 90348 entries, 20001218X45444 to 20221230106513
Data columns (total 30 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Investigation.Type      90348 non-null  object
 1   Accident.Number         88889 non-null  object
 2   Event.Date              88889 non-null  object
 3   Location                88837 non-null  object
 4   Country                 88663 non-null  object
 5   Latitude                34382 non-null  object
 6   Longitude               34373 non-null  object
 7   Airport.Code            50249 non-null  object
 8   Airport.Name            52790 non-null  object
 9   Injury.Severity         87889 non-null  object
 10  Aircraft.damage         85695 non-null  object
 11  Aircraft.Category       32287 non-null  object
 12  Registration.Number     87572 non-null  object
 13  Make                    88826 non-null  object
 14  Model                   88797 non-null  object
 15  Amateur.Built           88787 non-null  object
 16  Number.of.Engines       82805 non-null  float64
 17  Engine.Type             81812 non-null  object
 18  FAR.Description         32023 non-null  object
 19  Schedule                12582 non-null  object
 20  Purpose.of.flight       82697 non-null  object
 21  Air.carrier             16648 non-null  object
 22  Total.Fatal.Injuries    77488 non-null  float64
 23  Total.Serious.Injuries  76379 non-null  float64
 24  Total.Minor.Injuries    76956 non-null  float64
 25  Total.Uninjured         82977 non-null  float64
 26  Weather.Condition       84397 non-null  object
 27  Broad.phase.of.flight   61724 non-null  object
 28  Report.Status           82508 non-null  object
 29  Publication.Date        73659 non-null  object
dtypes: float64(5), object(25)
memory usage: 21.4+ MB

In [8]:
df.shape

(90348, 30)

## Data Cleaning

In [10]:
df.isnull().mean()*100

Investigation.Type         0.000000
Accident.Number            1.614867
Event.Date                 1.614867
Location                   1.672422
Country                    1.865011
Latitude                  61.944924
Longitude                 61.954886
Airport.Code              44.382831
Airport.Name              41.570372
Injury.Severity            2.721698
Aircraft.damage            5.150086
Aircraft.Category         64.263736
Registration.Number        3.072564
Make                       1.684597
Model                      1.716695
Amateur.Built              1.727764
Number.of.Engines          8.348829
Engine.Type                9.447913
FAR.Description           64.555939
Schedule                  86.073848
Purpose.of.flight          8.468367
Air.carrier               81.573471
Total.Fatal.Injuries      14.233851
Total.Serious.Injuries    15.461327
Total.Minor.Injuries      14.822686
Total.Uninjured            8.158454
Weather.Condition          6.586753
Broad.phase.of.flight     31.681941
Report.Status              8.677558
Publication.Date          18.471909
dtype: float64

In [12]:
#drop columns over 40%
df.drop(columns=['Latitude','Longitude','Airport.Code','Airport.Name',
                 'Aircraft.Category','FAR.Description','Schedule','Air.carrier','Publication.Date'], inplace=True)

In [13]:
df.shape

(90348, 21)

In [14]:
df.isnull().mean()*100

Investigation.Type         0.000000
Accident.Number            1.614867
Event.Date                 1.614867
Location                   1.672422
Country                    1.865011
Injury.Severity            2.721698
Aircraft.damage            5.150086
Registration.Number        3.072564
Make                       1.684597
Model                      1.716695
Amateur.Built              1.727764
Number.of.Engines          8.348829
Engine.Type                9.447913
Purpose.of.flight          8.468367
Total.Fatal.Injuries      14.233851
Total.Serious.Injuries    15.461327
Total.Minor.Injuries      14.822686
Total.Uninjured            8.158454
Weather.Condition          6.586753
Broad.phase.of.flight     31.681941
Report.Status              8.677558
dtype: float64

### Dealing with missing values

#### Categorical Data

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 90348 entries, 20001218X45444 to 20221230106513
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Investigation.Type      90348 non-null  object
 1   Accident.Number         88889 non-null  object
 2   Event.Date              88889 non-null  object
 3   Location                88837 non-null  object
 4   Country                 88663 non-null  object
 5   Injury.Severity         87889 non-null  object
 6   Aircraft.damage         85695 non-null  object
 7   Registration.Number     87572 non-null  object
 8   Make                    88826 non-null  object
 9   Model                   88797 non-null  object
 10  Amateur.Built           88787 non-null  object
 11  Number.of.Engines       82805 non-null  float64
 12  Engine.Type             81812 non-null  object
 13  Purpose.of.flight       82697 non-null  object
 14  Total.Fatal.Injuries    77488 non-null  float64
 15  Total.Serious.Injuries  76379 non-null  float64
 16  Total.Minor.Injuries    76956 non-null  float64
 17  Total.Uninjured         82977 non-null  float64
 18  Weather.Condition       84397 non-null  object
 19  Broad.phase.of.flight   61724 non-null  object
 20  Report.Status           82508 non-null  object
dtypes: float64(5), object(16)
memory usage: 15.2+ MB

In [17]:
df.isnull().mean()*100

Investigation.Type         0.000000
Accident.Number            1.614867
Event.Date                 1.614867
Location                   1.672422
Country                    1.865011
Injury.Severity            2.721698
Aircraft.damage            5.150086
Registration.Number        3.072564
Make                       1.684597
Model                      1.716695
Amateur.Built              1.727764
Number.of.Engines          8.348829
Engine.Type                9.447913
Purpose.of.flight          8.468367
Total.Fatal.Injuries      14.233851
Total.Serious.Injuries    15.461327
Total.Minor.Injuries      14.822686
Total.Uninjured            8.158454
Weather.Condition          6.586753
Broad.phase.of.flight     31.681941
Report.Status              8.677558
dtype: float64

In [19]:
# Dropping rows with missing values for object columns
df.dropna(subset=df.select_dtypes(include=['object']).columns, inplace=True)

In [21]:
df.isnull().mean()*100

Investigation.Type         0.000000
Accident.Number            0.000000
Event.Date                 0.000000
Location                   0.000000
Country                    0.000000
Injury.Severity            0.000000
Aircraft.damage            0.000000
Registration.Number        0.000000
Make                       0.000000
Model                      0.000000
Amateur.Built              0.000000
Number.of.Engines          1.151478
Engine.Type                0.000000
Purpose.of.flight          0.000000
Total.Fatal.Injuries      15.945505
Total.Serious.Injuries    17.374222
Total.Minor.Injuries      16.129197
Total.Uninjured            7.902167
Weather.Condition          0.000000
Broad.phase.of.flight      0.000000
Report.Status              0.000000
dtype: float64

In [23]:
df.shape

(58794, 21)

## Dealing with continous Data missing values

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 58794 entries, 20001218X45444 to 20080125X00106
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Investigation.Type      58794 non-null  object
 1   Accident.Number         58794 non-null  object
 2   Event.Date              58794 non-null  object
 3   Location                58794 non-null  object
 4   Country                 58794 non-null  object
 5   Injury.Severity         58794 non-null  object
 6   Aircraft.damage         58794 non-null  object
 7   Registration.Number     58794 non-null  object
 8   Make                    58794 non-null  object
 9   Model                   58794 non-null  object
 10  Amateur.Built           58794 non-null  object
 11  Number.of.Engines       58117 non-null  float64
 12  Engine.Type             58794 non-null  object
 13  Purpose.of.flight       58794 non-null  object
 14  Total.Fatal.Injuries    49419 non-null  float64
 15  Total.Serious.Injuries  48579 non-null  float64
 16  Total.Minor.Injuries    49311 non-null  float64
 17  Total.Uninjured         54148 non-null  float64
 18  Weather.Condition       58794 non-null  object
 19  Broad.phase.of.flight   58794 non-null  object
 20  Report.Status           58794 non-null  object
dtypes: float64(5), object(16)
memory usage: 9.9+ MB

In [25]:
df.describe()

,Number.of.Engines,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
count,58117.000000,49419.000000,48579.000000,49311.000000,54148.000000
mean,1.128259,0.466845,0.229811,0.381274,2.674540
std,0.394660,2.523107,0.855922,1.654469,16.955898
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,0.000000,0.000000,0.000000,1.000000
75%,1.000000,0.000000,0.000000,0.000000,2.000000
max,4.000000,230.000000,81.000000,171.000000,699.000000

In [26]:
#Replacing columns
replace_columns = ['Number.of.Engines','Total.Fatal.Injuries',
                   'Total.Serious.Injuries','Total.Minor.Injuries','Total.Uninjured']

In [27]:
df[replace_columns]= df[replace_columns].fillna(df[replace_columns].median())

In [28]:
df.isnull().sum()

Investigation.Type        0
Accident.Number           0
Event.Date                0
Location                  0
Country                   0
Injury.Severity           0
Aircraft.damage           0
Registration.Number       0
Make                      0
Model                     0
Amateur.Built             0
Number.of.Engines         0
Engine.Type               0
Purpose.of.flight         0
Total.Fatal.Injuries      0
Total.Serious.Injuries    0
Total.Minor.Injuries      0
Total.Uninjured           0
Weather.Condition         0
Broad.phase.of.flight     0
Report.Status             0
dtype: int64